# Deshabilitar listado de directorios
Options -Indexes

# Habilitar el motor de reescritura
RewriteEngine On

# Redirigir todas las solicitudes a index.php si no corresponden a un archivo existente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
