/**
*Tipografías que usaremos
**/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
/*Declaramos constantes*/
:root{
    --textosJaponese: "Noto Sans JP", sans-serif;
    --colorPrimario:  #000000;
    --colorSecundario: #FF0000;
    --colorComplementario: #FF9900;
}
   
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
*Estilos del menú principal
*/
.menu-principal{
    width: 100%;
    background-color:transparent;
    position: fixed;
   /* background-color: var(--colorPrimario);*/
    border-bottom: 3px solid var(--colorComplementario);
    z-index: 1;
}
.estructura-menu{
width: 90%;
margin: auto;
display: flex;
}
.logoMenu{
    align-items: center;
    width: 20%;
/*  background-color: red;*/
    display: flex;
    justify-content: center;
}
.logoMenu a{
    outline: none;
    text-decoration: none;
}
.logoMenu a:visited{
    color: inherit;
}
.logoMenu p{
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 4px var(--colorComplementario);
    padding: 5px 0;
}
.itemMenu{
    width: 80%;
    /*background-color: green;*/
    display: flex;
    justify-content: flex-end;
}
.itemListnav{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    /*background :wheat;*/
}
.item{
    align-self: center;
    padding: 15px;
    font-size: 17px;
    
}
.item:hover{
    background-color: var(--colorComplementario);
}
.item a{
    text-decoration: none;
    color: #fff;
}
.item  div{
    display: flex;
    align-items: center;
}
.iconosMenu{
    width: 30px;
    margin-right: 10px;
}
/** Menu de hamburguesa/Responsive **/
.checkBurger{
    display: none;
}
.nav__toggle{
    position: absolute;
    cursor: pointer;
    margin: 01rem;
    right: 0;
}
.nav__toggle svg {
    width: 1rem;
    fill: #fff;
  }
  .nav__toggle .closeMenuBurger {
    display: none;
  }
  .nav__toggle .closeMenuBurger, .nav__toggle .menuBurger {
    margin-top: 0.3rem;
  }
 
  .nav__toggle {
    display: none;
  }
  @media only screen and (max-width: 560px) {
    
    .nav__toggle {
        display: block;
      }
    .logoMenu , .itemMenu{
        width: 50%;
    } 
    .itemListnav {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        flex-direction: column;
        background-color: transparent;
        border:1px solid var(--colorComplementario)
    }
    .item{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid var(--colorComplementario);
    }

  }
/*Empezamos a maquetar home*/
.imgCabecera{
    position: relative;
}
.imgCabecera img{
    width: 100%;
    height: 550px;
    object-fit: cover;
}
.imgCabecera .degradado{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;    
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    opacity: 0.8; 
}
.imgCabecera h1{
    font-size: 50px;
}
.inicioPreubas{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,50%);
    z-index: 1;
   color: #fff;
}
.ProductosyServiciosHome{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
}
.imgTituloInicio{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--colorComplementario);
    box-shadow: 14px 12px 18px;
}
.imgTituloInicio img{
    width: 100px;
    padding: 10px;
}
.imgTituloInicio h1{
    align-content: center;
    margin-left: 30px;
}
.barraProductos{
    width: 96%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}
.cardProductos{

}
@media only screen and (max-width: 560px) {
    .inicioPreubas{
        right: 0;
        width: 90%;
        transform: none;
    }

}